/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendorold
/vendor.zip
/public.zip
/docker

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
#/.htaccess

public/backend/upload
public/upload

public_old/
