
.login-body{
  /* background-color: #4421af!important; */
  /* background-image: url(../../images/login_bg/bg_dphe.jpg) !important; */
  background-position: 0 0!important;
  background-size: cover!important;
  color: #fff!important;
  height: 100vh!important;
  overflow: hidden!important;
}
.card-box{
    /* background: #091012; */
    /* background: hsla(0,0%,100%,.45); */
    /* border-radius: 10px;
    /* display: grid; */
    min-height: 17rem;
    min-width: 25rem;
    padding: 30px;
}
.login-card-body{
    /* background: #091012; */
    /* background: hsla(0,0%,100%,.45); */
    border-top: 0;
    color: #666;
    padding: 20px;
}
