a.btn-a {
  background-image: linear-gradient(to bottom, #098A20, #0FC646);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a2a2a2;
  border-radius: 3px;
  padding: 2px 0 2px 0;
  color: #fff;
  background-color: #098A20;
  cursor: pointer;
}
